a, a:hover, a:active, a:focus {
    outline: 0;
}

.view-listen {
    position: absolute;
    color: #c7c7c7;
    right: 0;
    font-size: 12px;
    background: url(https://stc-id.nixcdn.com/v11/images/bg_view_listen.png) left top;
    padding: 0 5px 0 15px;
    line-height: 24px;
    display: block;
}

.icon-listen{
    background: url(https://stc-id.nixcdn.com/v11/images/icon-repeat.png) 0px -202px no-repeat;
    width: 14px;
    height: 14px;
    float: left;
    margin: 8px 3px 0 0;
}

li{
    list-style-type: none;
}
.ant-card-body{
    padding: 4px !important
}
.ant-card-meta-detail > div:not(:last-child) {
    margin-bottom: 0px !important;
}
.ant-card{
    margin-bottom: 12px !important;
}
img{
    width: 100%;
}

.cart, a{
    outline: 0px;
    font-size: 14px;
    color: black !important;
}
