.navbar{
    font: 14px;
    padding: 12px;
    font-weight: 14px;
    border-bottom:5px solid white;
    background: #0404B4;
}

a{
    margin: 20px;
    outline: none;
    color: white !important;
}

input{
    float:right;
    outline: none;
    border-style: outset;
    padding: 0.8vh;
    
}