.Page{
    background-color: #1f262a;
    display: block;
    text-align: center;
    align-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    
}

.page{
    margin: 30px;
}

