.FormSignUp{
    color: white;
    width: 500px;
    height: 600px;
    border: olive;
    background: rgb(26, 131, 134);
    margin-left: 25%;

}
.nameSignUp{
    width: 100%;
    border: 1px solid #cfcfcf;
    margin-bottom: 15px;
    padding: 12px;

}
.emailSignUp{
    width: 100%;
    border: 1px solid #cfcfcf;
    margin-bottom: 15px;
    padding: 12px;
}
.passWord{
    width: 100%;
    border: 1px solid #cfcfcf;
    margin-bottom: 15px;
    padding: 12px;
}
.confirmPassword{
    width: 100%;
    border: 1px solid #cfcfcf;
    margin-bottom: 15px;
    padding: 12px;
}
.submitButton{
    width: 100%;
    border: 1px solid #cfcfcf;
    margin-bottom: 15px;
    padding: 15px;width: 100%;
    background: #009cab;
    white-space: normal;
    line-height: 15px;
    margin-bottom: 20px;
    border-radius: 2px;
    color: white;
}
hr{
    width: 100%;
    color: lavenderblush;
    margin-bottom: 15px;
}
