.loginRegisterPage{
    text-align: center;
    background-color: cadetblue;
    /* margin-top: 30%; */
}
.registerButton{
    text-align: center;
    margin-left: 40%;
    margin-right: 10px;
    width: 7em;
    height: 3em;
    background: border-box rgb(16, 19, 139);
    color: white;
}
.loginButton{
    text-align: center;
    width: 7em;
    height: 3em;
    background: border-box rgb(228, 58, 171);
    color: white;
}